.bootstrap-table .fixed-table-container .table.table-sm td {
    padding: 0.30rem 1rem;
}
.bootstrap-table .fixed-table-container .table.table-sm .th-inner {
    padding: 0.30rem 1rem;
}
.sidebar-header {
    justify-content: center;
    padding: 0;
}

#order-form .alert {
    display: none;
}

#order-form .btn-close {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    padding: 1.25rem 1rem;
}